
# .env.example.apis
# URLs de APIs
VITE_API_USERS_URL=https://jsonplaceholder.typicode.com
VITE_API_POSTS_URL=https://jsonplaceholder.typicode.com
VITE_API_WEATHER_URL=https://api.open-meteo.com/v1/forecast

# Coordenadas por defecto (Quito)
VITE_DEFAULT_LAT=-0.22985
VITE_DEFAULT_LON=-78.52495
